In [3]:
import pandas as pd

In [4]:
df_cookbooks = pd.read_csv("books_cookbooks.csv", index_col = 0)
df_fantasy = pd.read_csv("books_fantasy.csv", index_col = 0)
df_history = pd.read_csv("books_history.csv", index_col = 0)
df_horror = pd.read_csv("books_horror.csv", index_col = 0)
df_psychology = pd.read_csv("books_psychology.csv", index_col = 0)
df_romance = pd.read_csv("books_romance.csv", index_col = 0)
df_science_fiction = pd.read_csv("books_science_fiction.csv", index_col = 0)
df_science = pd.read_csv("books_science.csv", index_col = 0)
df_self_help = pd.read_csv("books_self-help.csv", index_col = 0)
df_sports = pd.read_csv("books_sports.csv", index_col = 0)
df_travel = pd.read_csv("books_travel.csv", index_col = 0)
df_thriller = pd.read_csv("books_thriller.csv", index_col = 0)

In [5]:
df = df_cookbooks.append(df_fantasy, ignore_index = True)

In [6]:
df = df.append(df_history, ignore_index = True)

In [7]:
df = df.append(df_horror, ignore_index = True)

In [8]:
df = df.append(df_psychology, ignore_index = True)

In [9]:
df = df.append(df_romance, ignore_index = True)

In [10]:
df = df.append(df_science_fiction, ignore_index = True)

In [11]:
df = df.append(df_science, ignore_index = True)

In [12]:
df = df.append(df_self_help, ignore_index = True)

In [13]:
df = df.append(df_sports, ignore_index = True)

In [14]:
df = df.append(df_travel, ignore_index = True)

In [15]:
df = df.append(df_thriller, ignore_index = True)

In [ ]:
df.drop_duplicates(subset = 'title', ignore_index= True)

In [17]:
len(df)

1614

In [19]:
df.to_csv("books_compiled2.csv")

In [20]:
import pandas as pd
df = pd.read_csv('books_compiled.csv',index_col=False )

In [21]:
len(df)

1657

In [22]:
df.head()

,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species ...",history,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Guns, Germs, and Steel: The Fates of Human Soc...",4.04,Jared Diamond,"3,67,056","12,879","6,538","""Diamond has written a book of remarkable scop...",history,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A People's History of the United States,4.07,Howard Zinn,"2,24,620","6,509","2,354","In the book, Zinn presented a different side o...",history,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"The Devil in the White City: Murder, Magic, an...",3.99,Erik Larson,"6,13,157","36,644",64.2k,Author Erik Larson imbues the incredible event...,history,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Diary of a Young Girl,4.18,Anne Frank,"33,13,033","35,591","4,621",Discovered in the attic in which she spent the...,history,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.drop_duplicates(subset = 'title', inplace = True, ignore_index=True, )

In [24]:
df.columns

Index(['title', 'rating', 'name', 'num_ratings', 'num_reviews',
       'num_followers', 'synopsis', 'genre', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')

In [25]:
df.drop(columns = ['Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'], inplace = True)

In [26]:
df.head()

,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre
0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species ...",history
1,"Guns, Germs, and Steel: The Fates of Human Soc...",4.04,Jared Diamond,"3,67,056","12,879","6,538","""Diamond has written a book of remarkable scop...",history
2,A People's History of the United States,4.07,Howard Zinn,"2,24,620","6,509","2,354","In the book, Zinn presented a different side o...",history
3,"The Devil in the White City: Murder, Magic, an...",3.99,Erik Larson,"6,13,157","36,644",64.2k,Author Erik Larson imbues the incredible event...,history
4,The Diary of a Young Girl,4.18,Anne Frank,"33,13,033","35,591","4,621",Discovered in the attic in which she spent the...,history

In [27]:
df['genre'].value_counts()

thriller           481
fantasy            348
romance            111
horror             100
history             99
psychology          99
travel              98
science             79
sports              79
science_fiction     45
Name: genre, dtype: int64

In [28]:
df.to_csv('data.csv')